<ion-header>
  <ion-toolbar>
    <ion-title>Pick Location</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map-box height="100" [lat]="lat" [lng]="lng"></app-map-box>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input padding id="input-field" placeholder="Enter Location"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button id="btn">Done</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
